header {
  border-bottom: 1px solid rgba(195, 191, 191, 0.36);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .headerUser {
  display: flex;
  gap: 20px;
}
header form {
  border: red solid 1px;
  width: 30%;
}

header input {
  width: 100%;
  border: none;
  padding: 8px 0;
  border-radius: 5px;
  background-color: rgba(178, 175, 175, 0.368);
  padding-left: 10px;
}
