@import "fonts.css";
* {
  box-sizing: border-box;
}
body,
* {
  font-family: "V-Inter-reg", Arial, Helvetica, sans-serif;
  font-size: 17px;
}
h1 {
  font-family: "V-Inter-Med", Arial, Helvetica, sans-serif;

  font-size: 35px;
  line-height: 42.5px;
}
.container {
  margin: 0 auto;
  width: 1200px;
}

.AppOn {
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.SignUp,
.Login {
  background-color: #0d0e0f4e;

  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
.SignUp div:first-child,
.Login div:first-child {
  position: relative;
  width: 700px;
  background-color: white;
  width: 300px;
  border-radius: 5px;
  padding: 30px 20px;
}
.SignUp form,
.Login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 12px;
  line-height: 16px;
}

.red {
  color: red;
}

.SignUp form input,
.Login form input {
  font-size: 12px;
  color: #007782;
  padding-bottom: 8px;
  padding-left: 10px;
  border: none;
  width: 70%;
  border-bottom: 1px solid #00778225;
}
.SignUp form .checkbox {
  display: flex;
  width: 100%;

  padding: 0;
  gap: 10px;
  padding-top: 30px;
}

.SignUp form .checkbox p {
  width: 300px;
  align-self: center;
  font-size: 16px;
}
.SignUp form .checkbox input {
  width: fit-content;
  height: 30px;
  width: 30px;
}
.SignUp form h2,
.Login form h2 {
  font-family: V-Inter-Reg, Arial, Helvetica, sans-serif;
  font-size: 24px;
  padding-bottom: 30px;
}
.SignUp .descripcheck {
  margin-top: -19px;
  padding: 0px 7px;
  color: rgba(128, 128, 128, 0.727);
}
.SignUp .Submit,
.Login .Submit {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #007782;
  color: white;
  font-size: 16px;
}
.Login .Submit {
  margin-top: 10px;
}
.Login form h2 {
  padding: 20px;
}
.SignUp form .link,
.Login form .link {
  color: #007782;
  margin-top: -5px;
}
.SignUp form .link:hover,
.Login form .link:hover {
  cursor: pointer;
}
.closeForm {
  color: #007782;
  background-color: white;
  border: none;
  position: absolute;
  top: 5px;
  left: 5px;
  font-family: V-Inter-Med;
  font-size: 24px;
}

@media (max-width: 1210px) {
  .container {
    width: 100%;
    padding: 20px;
  }
  .sortHome {
    padding: 20px;
    justify-content: space-around;
  }

  .section1 .container {
    justify-content: center;
    width: 800px;
    /* border: #007782 solid 1px; */
  }
  .header img:nth-child(2) {
    width: 100%;

    bottom: 0px;
  }
}
@media (max-width: 860px) {
  .section1 .container {
    width: 600px;
  }
  .range {
    width: 30%;
  }
  .sortHome {
    display: none;
  }
  header button {
    width: fit-content;
    text-align: center;
    padding: 15px;
  }
  header .headerUser {
    width: fit-content;
    /* border: saddlebrown 2px solid; */
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }
  header .vendre {
    display: none;
  }
  .headerUser button {
    /* flex: none; */
    width: 90px;
    border-radius: 55px;
    color: #007782;
    font-size: 10px;
  }
}
@media (max-width: 580px) {
  header form {
    width: 50%;
  }
  .section1 .container {
    width: 100%;
  }

  header .headerUser button {
    display: inline;
  }
  .header {
    padding: 0px;
  }
  .header div.absoHome {
    border: 3px black;
    width: 100%;

    padding: 10px;
    border-radius: 0px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    top: 0px;
  }

  .none.search {
    display: none;
  }
  .header div h1 {
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
  .header div button {
    margin-top: 0px;
    width: 70%;
    border-radius: 55px;
  }
}
